<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Soennecken.StringMatching</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="string/matching/naive">
                <span class="oi oi-plus" aria-hidden="true"></span> Naive
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="string/matching/kmp">
                <span class="oi oi-plus" aria-hidden="true"></span> Knuth-Morris-Pratt
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="string/matching/bm">
                <span class="oi oi-plus" aria-hidden="true"></span> Boyer-Moore
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="string/matching/bmh">
                <span class="oi oi-plus" aria-hidden="true"></span> BMH
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="string/matching/bmhs">
                <span class="oi oi-plus" aria-hidden="true"></span> BMHS
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
