@page "/string/matching/bmh"

@using Soennecken.StringMatching.Shared.Algorithms 

<h1>Boyer Moore Horspool</h1>
Lorem ipsum

<MatchingInput Matcher="new BoyerMooreHorspoolMatcher<char>()" />

@code {
}
